#flexcontainer {
    display: flex;
}
#canvasDiv > canvas{
    outline-style: none;
}
#chat-input {
    flex: 1 1 auto;
    width: 250px;
}
#chatDiv {
    z-index: 7;
    display: flex;
    flex-direction: column;
}
#chat-text > div {
    word-wrap: break-word;
}
#chat-text {
    flex: 1;
    width: 330px;
    overflow-y: scroll;
}
#user-list-panel {
    padding: 0;
    flex-direction: column;
    width: 330px;
    display: none;
    flex: 1;
}
#user-list {
    flex: 1;
    overflow-y: scroll;
}
body {
    overflow: hidden;
}
#permanentSurface {
    z-index: 1;
}
#serverSurface {
    z-index: 2;
}
#publicSurface {
    z-index: 3;
}
#cursorLayer {
    z-index: 4;
}
#view {
    z-index: 5;
    position: relative;
    left: 0;
    top: 0;
    border: 1px solid black;
}
#overlay {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
}
#cursorLayer, #publicSurface, #serverSurface, #permanentSurface {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
#gameTimerDiv {
    display: flex;
}
#timerPanel {
    position: absolute;
    z-index: 8;
    width: 30vw;
    display: none;
    text-align: center;
}
#chat-text > div {
    font-size: 1.15em;
}