#flexcontainer {
    display: flex;
}
#canvasDiv > canvas{
    outline-style: none;
}
#chat-input {
    flex: 1 1 auto;
}
#chatDiv {
    display: flex;
    flex-direction: column;
}
#chat-text > div {
    word-wrap: break-word;
}
#chat-text {
    flex: 1;
    width: 330px;
    overflow-y: scroll;
}
#user-list {
    flex: 1;
    width: 330px;
    overflow-y: scroll;
}