#lobbyDiv > .panel {
    height: 500px;
}
#room-list {
    overflow-y: scroll;
    height: 350px;
}
#create-room-flexcontainer {
    display: flex;
    flex-direction: column;
}
#create-room-flexcontainer > .panel-body {
    flex-grow: 1;
}
#create-room-flexcontainer > .panel-footer {
    text-align: center;
}