#lobbyDiv {
    display: none;
}
#room-list {
    height: 65vh;
    overflow-y: scroll;
}
#create-room-flexcontainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
#create-room-flexcontainer > form {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#create-room-flexcontainer > form > .panel-body {
    flex-grow: 1;
}
#create-room-flexcontainer > form > .panel-footer {
    text-align: center;
}
.panel-group {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 80vh;
    min-height: 500px;
}

.right {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-default {
    background-image: url('/client/img/bg-pattern.png') !important;
}